<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">to this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>
</form>
<p>
    Previous addition: 
    <%= "#{cookies.fetch(:most_recent_first_number)} + #{cookies.fetch(:most_recent_second_number)} = #{cookies.fetch(:most_recent_addition)}" %>
</p>