<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">by this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>
</form>

<p>
    Previous multiplication: 
    <%= "#{cookies.fetch(:most_recent_first_number)} + #{cookies.fetch(:most_recent_second_number)} = #{cookies.fetch(:most_recent_multiplication)}" %>
</p>
