<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_field">Subtract this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Subtract!</button>
</form>

<p>
    Previous subtraction: 
    <%= "#{cookies.fetch(:most_recent_first_number)} + #{cookies.fetch(:most_recent_second_number)} = #{cookies.fetch(:most_recent_subtraction)}" %>
</p>